* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header > .container,
footer > .container {
    padding-bottom: 16px;
    align-items: center;
    justify-content: space-between;
}

header, footer {
    background-color: midnightblue;
    color: #fff;
    padding-top: 16px;
}


nav {
    background-color: slateblue;
    padding: 16px 0;
    display: none;
}

nav li {
    text-decoration: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    background-color: #fff;
    height: 2px;
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img{
    max-width: 400px;
    width: 100%;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-veiculos ul{
    flex-wrap: wrap;
}

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
}

.lista-veiculos li img {
    max-width: 100%;
    margin-top: 32px;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}

.lista-veiculos p {
    margin: 8px 0;
}

.item-central {
    margin: 0 5%;
}

button{
    display:block;
    border: none;
    padding: 8px 16px;
    text-transform: uppercase;
    margin: 8px 0;
    background-color:rgb(0, 182, 0);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

.price del {
    color: rgb(117, 117, 117);
    font-size: 12px;
}

.formulário {
    max-width: 250px;
}

.formulário input{
    display: block;
    width: 100%;
    padding: 4px 0;
}

.formulário li {
    font-weight: bold;
    margin-bottom: 8px;
}

textarea {
    display: block;
    resize: none;
    height: 120px;
    width: 100%;
}

footer {
    display: flex;
}

footer img {
    width: 32px;
    margin-right: 16px;
}